<a href="https://colab.research.google.com/github/sai2119/Clustering/blob/master/assinment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1

1.
Install Jupyter notebook and run the first program and share the screenshot of the output

(https://https://drive.google.com/file/d/1K6awWJMEItL-TFLyhP4zkfANwyWfNBYO/view?usp=sharing))

2.
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [21]:
# number is a list here 
number=[]
# we need inculde 2000 to 3200
for x in range(2000, 3201):
    #this condition gives number diveded by 7 and not divided by 5
    if (x%7==0) and not(x%5==0):
        # append to number
        number.append(str(x))
Number_divisble_by_7_not_5= number
print(Number_divisble_by_7_not_5)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

3.
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [23]:
# Asking first name and last name
a=input("Enter your First Name: ")
b=input("Enter your last Name: ")
#printed in the the reverse order with a space between first name and last name.
print("reverse order with a space between first name and last name: " ,b+" ",a)

Enter your First Name: a
Enter your last Name: b
reverse order with a space between first name and last name:  b  a

4.
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [29]:
import math
a = int(input("Enter the diameter: "))
radius = a/2 
pi = math.pi
volume = 4.0/3.0*pi*radius**3
print("volume of a sphere",volume)

Enter the diameter: 12
volume of a sphere 904.7786842338603

## Task 2

1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [33]:
# excpecting values
value = str(input("enter the comma separated number : "))
# spliting the numbers
list_name = value.split(',')
# type casting 
list_name = list(list_name)

# printing the list
print(list_name)

enter the comma separated number : 10,18,19,157,1956,1852,18745,1523,185
['10', '18', '19', '157', '1956', '1852', '18745', '1523', '185']

2.
Create the below pattern using nested for loop in Python.

In [50]:

for a in range(10):
    for x in range(a):
        print ('* ', end="")
    print('')

for a in range(10,0,-1):
    for x in range(a):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

3.
Write a Python program to reverse a word after accepting the input from the user.

In [62]:
word = input("Enter your Word: ")
print(word)
word =word[::-1]
print (word)

Enter your Word: sdlndljfsndcs
sdlndljfsndcs
scdnsfjldnlds

4.
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [65]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens